<div id="<%= dom_id order %>">
  <p>
    <strong>Email:</strong>
    <%= order.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

  <p>
    <strong>Order details:</strong>
    <% order.order_details.each do |order_detail| %>
				<%= order_detail.food.name %>
				<%= order_detail.price %>
				<%= order_detail.quantity %>
				<%= order_detail.sub_total %>
    <% end %>
  </p>

</div>
