<p style="color: green"><%= notice %></p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render @food %>
    </tr>
  </tbody>
</table>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Categories
  </div>
  <ul class="list-group list-group-flush">
    <%= render @food.categories %>
  </ul>
</div>

<div>
  <%= link_to "Edit this food", edit_food_path(@food) %> |
  <%= link_to "Back to foods", foods_path %>

  <%= button_to "Destroy this food", @food, method: :delete %>
</div>
